coeffs_1.xlsx
coeffs_10_0to12_presentation_sign_feat.xlsx
coeffs_10_0to24_presentation_sign_feat.xlsx
coeffs_10_0to36_presentation_sign_feat.xlsx
coeffs_11_0to12_presentation_sign_feat.xlsx
coeffs_11_0to24_presentation_sign_feat.xlsx
coeffs_11_0to36_presentation_sign_feat.xlsx
coeffs_12_0_to_24_ktv.xlsx
coeffs_12_0_to_24_ktv_anticoag.xlsx
coeffs_12_0_to_36_ktv_and_more.xlsx
coeffs_12_0_to_36_ktv_anticoag.xlsx
coeffs_1_all_obs.xlsx
coeffs_2_0to12.xlsx
coeffs_2_0to24.xlsx
coeffs_2_0to36.xlsx
coeffs_3_0to24.xlsx
coeffs_4_0to12.xlsx
coeffs_4_0to24.xlsx
coeffs_4_0to36.xlsx
coeffs_5_0to12_det_comorb.xlsx
coeffs_5_0to24_det_comorb.xlsx
coeffs_5_0to36_det_comorb.xlsx
coeffs_6_0to12_presentation.xlsx
coeffs_6_0to24_presentation.xlsx
coeffs_6_0to24_presentation_all_obs.xlsx
coeffs_6_0to36_presentation.xlsx
coeffs_6_0to36_presentation_all_obs.xlsx
coeffs_7_0to12_presentation_all_feat.xlsx
coeffs_7_0to12_presentation_sign_feat.xlsx
coeffs_7_0to24_presentation_sign_feat.xlsx
coeffs_7_0to36_presentation_sign_feat.xlsx
coeffs_8_0to12_presentation_sign_feat.xlsx
coeffs_9_0to12_presentation_sign_feat.xlsx
coeffs_9_0to24_presentation_sign_feat.xlsx
coeffs_9_0to24_presentation_sign_feat_t1.xlsx
coeffs_9_0to36_presentation_sign_feat.xlsx
coeffs_9_0to36_presentation_sign_feat_all_obs.xlsx
comparing_coeffs_11.xlsx
comparing_coeffs_2.xlsx
comparing_coeffs_5.xlsx
comparing_coeffs_6.xlsx
comparing_coeffs_7.xlsx
comparing_coeffs_9.xlsx
~$coeffs_12_0_to_36_ktv_and_more.xlsx
~$comparing_coeffs_11.xlsx
